body{
    
}

/* Define Main Container */
#mainContainer {
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: 625px 400px;
}

#topContainer {
    background-color: rgb(219, 219, 219);

    /* How it fits into the main container */
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;

    /* Define it's subgrid */
    display: grid;
    grid-template-columns: auto 740px auto;
    grid-template-rows: 115px 460px 60px;
}
#bottomContainer {
    background-color: rgba(194, 194, 194, 3);

    /* How it fits into the main container */
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    
    /* Define it's subgrid */
    display: grid;
    grid-template-columns: minmax(20px, 800px) 350px minmax(20px, 80px) 350px minmax(20px, 80px) 350px minmax(20px, 800px);
    grid-template-rows: 60px 230px 115px;

    overflow: scroll;
    overflow: ;
}

/* Test containers */
#topTest {
    background-color: rgb(255, 255, 255);
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;

    border-radius: 30px;

    z-index: 20;
}

#bottomOne {
    background-color: rgb(255, 255, 255);
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}
#bottomTwo {
    background-color: rgb(255, 255, 255);
    grid-column: 4 / span 1;
    grid-row: 2 / span 1;
}
#bottomThree {
    background-color: rgb(255, 255, 255);
    grid-column: 6 / span 1;
    grid-row: 2 / span 1;
}

.bottomElm {
    border-radius: 20px;
    text-align: center;
}

#dropDown{
    background-color: cadetblue;
    position: relative;

    top: 25px;

    z-index: 10;

    grid-column: 2 / span 1;
    grid-row: 2 / span 1;

    border-radius: 30px;
}
.inlineData{
    display: inline-block;
}
#myChart {
    width: 300px;
}

@media only screen and (max-width: 768px) {

    #bottomContainer {
        background-color: rgba(194, 194, 194, 3);
    
        /* How it fits into the main container */
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
        
        /* Define it's subgrid */
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 200px 200px 200px;
    
        overflow: scroll;
        
    }

    #bottomOne {
        background-color: rgb(255, 255, 255);
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
        
    }
    #bottomTwo {
        background-color: rgb(255, 255, 255);
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
    }
    #bottomThree {
        background-color: rgb(255, 255, 255);
        grid-column: 1 / span 1;
        grid-row: 3 / span 1;
    }

    .bottomElm {
        border-radius: 20px;
        text-align: center;
        margin-bottom: 30px;
       
    }
}