body {
  background-color: rgb(236, 236, 236);
  height: 100vh;
  width: 100vw;
}

/* Define the grid */

#mainGridContainer {
  display: grid;
  /* Define the areas of the grid */
  grid-template-columns: auto 600px auto;
  grid-template-rows: 50px 300px 100px;
}
/* Dinfine how the main grid container is laid out. */
#menu {
  background-color: burlywood;
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;

  overflow: auto;
}

#mainBody {
  background-color: #2dcfba;
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}

#footer {
  background-color: rgb(153, 94, 16);
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
}

/* Define the node Grids */

#mainbody {
  display: grid;

  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 1fr;
}
#exampleNode1 {
  background-color: darkmagenta;

  /* Define the inner grid of the nodes */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 1fr 1fr;

  grid-column: 1 / span 1;
  grid-row: 1 / span 1;

  margin: 15px;
}
#exampleNode2 {
  background-color: darkmagenta;

  grid-column: 2 / span 1;
  grid-row: 1 / span 1;

  margin: 15px;
}
#exampleNode3 {
  background-color: darkmagenta;

  grid-column: 3 / span 1;
  grid-row: 1 / span 1;

  margin: 15px;
}
#exampleNode4 {
  background-color: darkmagenta;

  grid-column: 4 / span 1;
  grid-row: 1 / span 1;

  margin: 15px;
}
#exampleNode5 {
  background-color: darkmagenta;

  grid-column: 5 / span 1;
  grid-row: 1 / span 1;

  margin: 15px;
}

#exampleNode6 {
  background-color: darkmagenta;

  grid-column: 1 / span 1;
  grid-row: 2 / span 1;

  margin: 15px;
}
#exampleNode7 {
  background-color: darkmagenta;

  grid-column: 2 / span 1;
  grid-row: 2 / span 1;

  margin: 15px;
}
#exampleNode8 {
  background-color: darkmagenta;

  grid-column: 3 / span 1;
  grid-row: 2 / span 1;

  margin: 15px;
}
#exampleNode9 {
  background-color: darkmagenta;

  grid-column: 4 / span 1;
  grid-row: 2 / span 1;

  margin: 15px;
}
#exampleNode10 {
  background-color: darkmagenta;

  grid-column: 5 / span 1;
  grid-row: 2 / span 1;

  margin: 15px;
}

#counter1 {
  background-color: darkorange;

  text-align: center;

  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
}
#timestamp1 {
  background-color: rgb(44, 179, 138);

  text-align: center;

  grid-column: 1 / span 2;
  grid-row: 2 / span 1;
}
#name1 {
  background-color: rgb(13, 114, 84);

  text-align: center;

  grid-column: 1 / span 2;
  grid-row: 3 / span 1;
}

.node {
  height: 100px;
}

.leftButton {
  background-color: rgb(0, 0, 0);
  position: relative;
  opacity: 0;
  width: 50%;
  height: 100%;
  bottom: 100%;
}
.rightButton {
  background-color: rgb(0, 0, 0);
  opacity: 0;
  width: 50%;
  height: 100%;
  position: relative;
  left: 50%;
  bottom: 200%;
}
.buttons:hover {
  opacity: 0.1;
}
