body {
  background: rgb(228, 228, 228);
  /*background: linear-gradient(
    0deg,
    rgba(200, 200, 200, 1) 0%,
    rgba(203, 203, 203, 1) 77%,
    rgba(232, 232, 232, 1) 100%
  );*/
  font-family: "Mulish", sans-serif;
}
#mainBody {
  position: relative;
  top: 55px;
  z-index: -10;
}
#main {
  background-color: rgb(255, 255, 255);

  width: 60vw;
  height: auto;

  border-radius: 25px;

  margin: auto;
  padding: 25px 40px 25px 40px;

  display: flex;
  justify-content: center;

  flex-wrap: wrap;

  filter: drop-shadow(0px 4px 2px #b8b8b8);
}
#buttonContainer {
  background-color: rgb(255, 255, 255);

  width: 60vw;
  height: auto;

  border-radius: 25px;

  margin: auto;
  padding: 25px 40px 25px 40px;

  display: flex;
  justify-content: center;

  flex-wrap: wrap;

  filter: drop-shadow(0px 4px 2px #b8b8b8);
}

.dataSelectInputs {
  margin: 10px 0px 10px 0px;
}

#date {
  display: block;
  width: 60vw;
  height: 35px;
}

#userSubmit {
  width: 80vw;
  margin: auto;
  display: block;
  text-align: center;
  margin-bottom: 25px;
}
#dataPull {
  width: 80vw;
  margin: auto;
  display: block;
  text-align: center;
  margin-top: 25px;
}

#header {
  margin-bottom: 40px;
  margin-top: 40px;
  text-align: center;
}

.buttons {
  width: 100px;
  height: 60px;
  background-color: rgb(113, 180, 192);
  margin: 10px;
  margin-bottom: 50px;
}
.buttonLabels {
  position: relative;
  top: -220px;
  text-align: center;
  font-size: 17px;
}
.itemCount {
  text-align: center;
  font-size: 40px;
  position: relative;
  top: -155px;
}
#leadtimeDisplay {
  text-align: center;
}
#leadtimeContainer {
  display: flex;
  width: 60vw;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 0px;
  position: sticky;
  top: 0px;
}
.leadtime {
  position: relative;
  top: 0px;
}
.minus {
  width: 50px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.562);
  position: relative;
  top: 0px;
  left: 0px;
  opacity: 0;
  z-index: 10;
}
.minus:hover {
  opacity: 0.2;
}
.plus {
  width: 50px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.562);
  position: relative;
  top: -60px;
  left: 50px;
  opacity: 0;
  z-index: 10;
}
.plus:hover {
  opacity: 0.2;
}
.timeStamp {
  position: relative;
  bottom: 207px;
  text-align: right;
  font-size: small;
  color: #3d3d3d;
}
.footer {
  margin-top: 20px;
}
#userSubmit {
  margin-top: 20px;
  border-radius: 20px;
}
button {
  width: 60vw;
  height: 45px;
  border-style: none;
}
select {
  width: 60vw;
  height: 35px;
  border-radius: 20px;
}

#myChart {
  width: 80vw;
  height: 200px;
}

button {
  background: rgb(86, 78, 222);
  background: linear-gradient(
    90deg,
    rgba(86, 78, 222, 1) 0%,
    rgba(63, 63, 191, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  border-radius: 20px;
  color: aliceblue;
  font-size: 25px;
  text-transform: uppercase;
}
button:hover {
  filter: drop-shadow(0px 4px 2px #8b8bd4);
  position: relative;
  bottom: 5px;
}

img {
  width: 500px;
}
#dropMain {
  position: relative;
  top: 25px;
}
