body {
  background: rgb(228, 228, 228);
  /*background: linear-gradient(
    0deg,
    rgba(200, 200, 200, 1) 0%,
    rgba(203, 203, 203, 1) 77%,
    rgba(232, 232, 232, 1) 100%
  );*/

  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-style: italic;
}

#mainBody {
  position: relative;
  top: 55px;
  z-index: -10;
  text-align: center;
}
#main {
  background-color: rgb(255, 255, 255);

  width: 60vw;
  height: auto;

  border-radius: 25px;

  margin: auto;
  padding: 25px 40px 25px 40px;

  display: flex;
  justify-content: center;

  text-align: center;

  flex-wrap: wrap;

  filter: drop-shadow(0px 4px 2px #b8b8b8);
}
#buttonContainer {
  background-color: rgb(255, 255, 255);

  width: 60vw;
  height: auto;

  border-radius: 25px;

  margin: auto;
  padding: 25px 40px 25px 40px;

  display: flex;
  justify-content: center;

  flex-wrap: wrap;

  filter: drop-shadow(0px 4px 2px #b8b8b8);
}

.dataSelectInputs {
  margin: 10px 0px 10px 0px;
}

#date {
  display: block;
  width: 60vw;
  height: 35px;
}

#userSubmit {
  width: 80vw;
  margin: auto;
  display: block;
  text-align: center;
  margin-bottom: 25px;
}
#dataPull {
  width: 80vw;
  margin: auto;
  display: block;
  text-align: center;
  margin-top: 25px;
  position: relative;
  bottom: 70px;
}

#header {
  margin-bottom: 40px;
  margin-top: 40px;
  text-align: center;
}

.buttons {
  width: 100px;
  height: 60px;
  background-color: #a8d0e6;
  margin: 10px;
  margin-bottom: 50px;
}
.buttonLabels {
  position: relative;
  top: -220px;
  text-align: center;
  font-size: 17px;
}
.itemCount {
  text-align: center;
  font-size: 40px;
  position: relative;
  top: -155px;
}
#leadtimeDisplay {
  text-align: center;
}
#leadtimeContainer {
  display: flex;
  width: 60vw;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 0px;
  position: sticky;
  top: 0px;
}
.leadtime {
  position: relative;
  top: 0px;
}
.minus {
  width: 50px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.562);
  position: relative;
  top: 0px;
  left: 0px;
  opacity: 0;
  z-index: 10;
}
.minus:hover {
  opacity: 0.2;
  cursor: pointer;
}
.plus {
  width: 50px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.562);
  position: relative;
  top: -60px;
  left: 50px;
  opacity: 0;
  z-index: 10;
}
.plus:hover {
  opacity: 0.2;
  cursor: pointer;
}
.timeStamp {
  position: relative;
  bottom: 207px;
  text-align: right;
  font-size: small;
  color: #3d3d3d;
}
.footer {
  margin-top: 20px;
}
#userSubmit {
  margin-top: 20px;
  border-radius: 20px;
}
button {
  width: 60vw;
  height: 45px;
  border-style: none;
}
select {
  width: 200px;
  height: 35px;
  border-radius: 20px;
}

#myChart {
  width: 80vw;
  height: 200px;
}

button {
  background: #70a7c5;

  width: 200px;
  border-radius: 20px;
  color: aliceblue;
  font-size: 25px;
  text-transform: uppercase;
  position: relative;
}
button:hover {
  background-color: #4381a1;
  cursor: pointer;
}

img {
  width: 500px;
}
#dropMain {
  position: relative;
  top: 25px;
  text-align: center;
}
#menu {
  width: 300px;
  height: 100%;

  position: absolute;
  top: 0;
  left: -250px;

  background-color: #a8d0e6c9;

  display: grid;
  grid-template-columns: 1fr 50px;
  grid-template-rows: 1fr;

  transition: 0.5s;
}
#menuOpenClose {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;

  background-color: #a8d0e6;

  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}
#menuOpenClose:hover {
  cursor: pointer;
  background-color: #70a7c5;
}
#menuOpenClose p {
  font-size: 40px;
  color: white;
}
#menuItems {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}
.lowerOptions {
  position: relative;
  bottom: 40px;
  display: inline-block;
  text-align: center;
}
.lowerOptions:hover {
  cursor: pointer;
  color: #70a7c5;
}
#addNote {
  text-align: left;
}
.checkbox {
  margin: 10px 20px 10px 5px;
}
.checkboxLabel {
  margin: auto auto auto auto;
}
#CheckboxDiv {
  display: block;
}
#dateSelectionDiv {
  display: block;
}
