body {
  background: rgb(200, 200, 200);
  background: linear-gradient(
    0deg,
    rgba(200, 200, 200, 1) 0%,
    rgba(203, 203, 203, 1) 77%,
    rgba(232, 232, 232, 1) 100%
  );
  font-family: "Cutive Mono", monospace;
}
#mainBody {
  position: relative;
  top: 55px;
  z-index: -10;
}
#main {
  background-color: rgb(255, 255, 255);

  width: 80vw;
  height: auto;

  border-radius: 25px;

  margin: auto;
  padding: 40px;

  display: flex;
  justify-content: center;

  flex-wrap: wrap;
}

#date {
  display: block;
  width: 60vw;
  height: 35px;
}

#userSubmit {
  width: 80vw;
  margin: auto;
  display: block;
  text-align: center;
}
#dataPull {
  width: 80vw;
  margin: auto;
  display: block;
  text-align: center;
  margin-top: 15px;
}

#header {
  margin-bottom: 40px;
  margin-top: 40px;
  text-align: center;
}

.buttons {
  width: 200px;
  height: 60px;
  background-color: rgb(227, 243, 246);
  margin: 10px;
  margin-bottom: 50px;
}
.buttonLabels {
  position: relative;
  top: -170px;
  text-align: center;
}
.value {
  text-align: center;
  font-size: 40px;
  position: relative;
  top: -150px;
}
#leadtimeDisplay {
  text-align: center;
}
#leadtimeContainer {
  display: flex;
  width: 60vw;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 0px;
}
.leadtime {
  position: relative;
  top: 0px;
}
.minusButton {
  width: 100px;
  height: 60px;
  background-color: rgb(0, 160, 175);
  position: relative;
  top: 0px;
  left: 0px;
  opacity: 0;
  z-index: 10;
}
.minusButton:hover {
  opacity: 0.1;
}
.plusButton {
  width: 100px;
  height: 60px;
  background-color: rgb(0, 160, 175);
  position: relative;
  top: -60px;
  left: 100px;
  opacity: 0;
  z-index: 10;
}
.plusButton:hover {
  opacity: 0.1;
}
.footer {
  margin-top: 20px;
}
#userSubmit {
  margin-top: 20px;
  border-radius: 20px;
}
button {
  width: 60vw;
  height: 45px;
  border-style: none;
}
select {
  width: 60vw;
  height: 35px;
  border-radius: 20px;
}

@media only screen and (max-width: 600px) {
  .buttons {
    width: 80vw;
    height: 60px;
    background-color: rgb(227, 243, 246);
  }
  #main {
    background-color: rgb(255, 255, 255);

    width: 80vw;
    height: auto;

    display: inline-flex;

    justify-content: space-between;
  }
  .buttonLabels {
    position: relative;
    top: -170px;
    text-align: center;
    font-size: 18px;
  }
  button {
    width: 80vw;
    height: 45px;
  }
  .plusButton {
    width: 40vw;
    height: 60px;
    background-color: rgb(0, 160, 175);
    position: relative;
    top: -60px;
    left: 120vw;
    opacity: 0;
    z-index: 10;
  }
}

#myChart {
  width: 80vw;
  height: 200px;
}

nav {
  border-radius: 0px 25px 25px 0px;
  filter: drop-shadow(0px 25px 25px 0px #000000);
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10001;
  border-radius: 0px 25px 25px 0px;
  filter: drop-shadow(0px 25px 25px 0px #000000);
}
.navLinks {
  text-decoration: none;
  margin: 25px 40px 25px 50px;
  color: rgb(255, 255, 255);
  font-size: 22px;
  text-align: center;
  z-index: 1000;
}
.navLinks:hover {
  color: rgb(75, 75, 75);
}
button {
  background: rgb(86, 78, 222);
  background: linear-gradient(
    90deg,
    rgba(86, 78, 222, 1) 0%,
    rgba(63, 63, 191, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  border-radius: 20px;
  color: aliceblue;
  font-size: 25px;
  text-transform: uppercase;
}
button:hover {
  filter: drop-shadow(0px 4px 2px #4444dd);
  position: relative;
  bottom: 5px;
}

img {
  width: 500px;
}
